<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 数据源 --> 
    <context:property-placeholder location="classpath:config/hibernate.properties"/>
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="user" value="${dataSource.username}"/>
		<property name="password"  value="${dataSource.password}"/>
		<property name="driverClass" value="${dataSource.driverClass}"/>
		<property name="jdbcUrl" value="${dataSource.jdbcUrl}"/>
    </bean>
    <!--配置 Hibernate SessionFatory-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <!-- 配置数据源属性 -->
		<property name="dataSource" ref="datasource" />
		<!-- 配置加载实体类  annotatedClasses 或者  packagesToScan -->
		<property name="packagesToScan">
			<list>
				<value>com.huaxin.*.bean</value>
			</list>
		</property>
		<!-- 配置 Hibernate 方言、是否打印SQL语句、是否启用查询缓存-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${dataSource.dialect}</prop>   <!-- Hibernate SQL方言 -->
 				<prop key="hibernate.hbm2ddl.auto">${dataSource.hbm2ddl.auto}</prop> 
				<prop key="hibernate.show_sql">${dataSource.show_sql}</prop>  <!-- 输出所有SQL语句到控制台.取值true | false -->
				<prop key="hibernate.current_session_context_class">${dataSource.current_session_context_class}</prop>
				<prop key="hibernate.cache.use_query_cache">${dataSource.cache.use_query_cache}</prop>
            </props>
		</property>
	</bean>
    <!-- 配置数据连接事务 -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    <!-- 扫描指定包下的被注解的类,创建对象 -->
    <context:component-scan base-package="com.huaxin.ztree.*"/>
    <!-- 注解的方式开启事务 -->
    <tx:annotation-driven transaction-manager="txManager"/>
    <!-- 切面扫描 -->
<!--     <aop:aspectj-autoproxy/> -->
</beans>